img {
  border-radius: 8px;
  padding: 5px;
  width: 300px;
}

#kitty {
  transform: scaleX(-1);
}

body {
  text-align: center;
}

.card {
  margin-top: 25px;
  text-align: left;
  background-color: pink;
}

body {
 background-image: url(https://media.giphy.com/media/NzSUEgbTWB7TW/giphy.gif);
 background-color:bisque;
}